<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="smile_map" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Smile Map</label>
            <tab>service</tab>
            <resource>Magento_Backend::smile_map</resource>

            <group id="map" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Map Settings</label>

                <field id="provider" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provider</label>
                    <source_model>Smile\Map\Model\Config\Source\MapProvider</source_model>
                </field>

                <field id="provider_google_api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google API Key</label>
                    <depends>
                        <field id="provider">google</field>
                    </depends>
                </field>

                <field id="provider_osm_api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ipstack API Key</label>
                    <comment>Get your api key : https://ipstack.com/product</comment>
                    <depends>
                        <field id="provider">osm</field>
                    </depends>
                </field>

                <field id="provider_google_libraries" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google API Libraries</label>
                    <depends>
                        <field id="provider">google</field>
                    </depends>
                    <comment>Comma separated list of Google libraries to use. They must be enabled for your API Key. Eg: geometry, places</comment>
                </field>

                <field id="provider_google_map_styles" translate="label" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Map Styles</label>
                    <depends>
                        <field id="provider">google</field>
                    </depends>
                    <comment><![CDATA[The styles to be added to the Google Map Api. In a JSON format. Can be built from <a href='https://mapstyle.withgoogle.com/' target='_blank'>Google Mapstyles</a>]]></comment>
                </field>

                <field id="provider_osm_direction_url_template" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Directions Url</label>
                    <depends>
                        <field id="provider">osm</field>
                    </depends>
                </field>

                <field id="provider_google_direction_url_template" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Directions Url</label>
                    <depends>
                        <field id="provider">google</field>
                    </depends>
                </field>

                <field id="provider_all_markerIcon" translate="label" type="image" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                    <label>Marker Icon</label>
                    <backend_model>Smile\Map\Model\Config\Backend\MarkerIcon</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">smile_map/marker</upload_dir>
                    <base_url type="media" scope_info="1">smile_map/marker</base_url>
                </field>

                <field id="provider_all_disabled_zoom_out" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60">
                    <label>Disable zoom out when no results</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="provider_all_marker_cluster" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="70">
                    <label>Enable Marker Cluster</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="address_templates" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address templates</label>
                <field id="text" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text</label>
                </field>
                <field id="oneline" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text One Line</label>
                </field>
                <field id="html" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>HTML</label>
                </field>
                <field id="pdf" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>PDF</label>
                </field>
            </group>
        </section>
    </system>
</config>
